body{
    font-family: 'Epilogue', sans-serif;
}
header{
    width: 1200px;
    margin: 0 auto;
}
.cabecalho{
    width: 1200px;
    margin: 0 auto;
    height: 50px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-navegacao li ,a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

}

main{
    width: 1200px;
    margin: 0 auto;
}
.introducao{
    
    display: inline-block;
    position: relative;
    width: 600px;
    vertical-align: top;
    margin: auto;
}
h1{
    font-size:52px;
    
    color:#33478E;
    margin-top: 100px;

}
.descricao{
    text-indent: 1.5em;
    margin-top: 50px;
    font-size: 16px;
}
.botao-projetos{
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(180deg,  #92a4e4,#0a184d);
    width: 242px;
    height: 51px;
    margin-top: 50px;
    text-decoration: none;    
}
.botao-projetos a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight:bolder;
    font-size:1em;
}

.ilustracao{
    width: 493px;
    height: 517px;
    margin:35px;
}
.subtitulo{
    font-size: 44px;
    color:#33478E;

}
.laranja{
    display: inline;
    margin-left: 6%;
}
.linguagens{
    margin: 3% 15%;
    width: 70%;
}
.linguagens p{
    font-size: 1.3em;
    font-weight: bold;
    text-transform:uppercase
}
.linguagens img{
    margin: 3% 10%;
    
}