body {
    font-family: 'Epilogue', sans-serif;
}

header {
    margin: 0 auto;
}

.container__fixo {
    background-image: linear-gradient(180deg, #f1f3fa, #ffffff);
    width: 100%;
    position: fixed;
    display: block;
}

.cabecalho {
    width: 95%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-navegacao li,
a {
    text-decoration: none;
    display: inline-block;
    margin: 0 1em;
}

hr {
    margin: 0;
    width: auto;
}

main {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.introducao {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin: 5%;
}

h1 {
    font-size: 2.5em;
    color: #33478E;
    margin: 2em auto 0.5em;
}

.descricao {
    margin-top: 10%;
    text-indent: 1.5em;
    line-height: 1.5;
    font-size: 1em;
}

.botao-projetos {
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(180deg, #92a4e4, #0a184d);
    width: auto;
    margin: 10% 20%;
    text-decoration: none;
}

.botao-projetos a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 1em;
    margin: 5% auto;
}

.ilustracao {
    width: 30%;
    height: auto;
    margin: 5% 9%;
}

.subtitulo {
    font-size: 2.5em;
    color: #33478E;
}

.laranja {
    display: inline;
    margin-left: 6%;
}

.linguagens {
    margin: 3% 15% 15%;
    width: 70%;
}

.linguagens p {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase
}

.linguagens img {
    margin: 3% 10%;
}

footer {
    height: 100px;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    background-image: linear-gradient(180deg, #ffffff, #566188);
}

.rodape img {
    margin: 1rem auto;
    width: 2em;
    height: 2em;
}

.copyright {
    color: #FFFFFF;
    font-size: 0.7em;
    text-align: center;
}

@media screen and (max-width:480px) {
    header {
        margin: auto;
    }
    main,
    .logo {
        width: auto;
    }
    .cabecalho-navegacao a {
        margin: auto;
    }
    .cabecalho,
    .introducao,
    .ilustracao {
        width: 100%;
        margin: auto;
    }
    h1 {
        font-size: 2em;
        text-align: center;
        margin: 1.5em auto 0.5em;
    }
    .linguagens img {
        width: 2em;
    }
}