header{
    width: 1200px;
    margin: 0 auto;
}
.cabecalho{
    width: 1200px;
    margin: 0 auto;
    height: 50px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-navegacao li ,a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

}

main{
    width: 1200px;
    margin: 0 auto;
}
.introducao{
    
    display: inline-block;
    position: relative;
    width: 600px;
    vertical-align: top;
    margin: auto;
}
h1{
    font-size:52px;
    font-family: 'Epilogue', sans-serif;
    color:#33478E;
    margin-top: 100px;

}
.descricao{
    text-indent: 1.5em;
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Epilogue', sans-serif;
}
.botao-projetos{
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(180deg,  #92a4e4,#0a184d);
    width: 242px;
    height: 51px;
    margin-top: 50px;
    text-decoration: none;    
}
.botao-projetos a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight:bolder;
    font-size:14px;
    font-family: 'Epilogue', sans-serif;
}

.ilustracao{
    width: 493px;
    height: 517px;
    margin:35px;
}
.subtitulo{
    font-size: 44px;
    font-family: 'Epilogue', sans-serif;
    color:#33478E;

}
